In [40]:
import pandas as pd

In [41]:
EPI = pd.read_csv(r"..\CSV\EPI.csv")
df_4square = pd.read_csv(r"..\CSV\4square.csv")
env_policies_gral = pd.read_csv(r"..\CSV\env_policies_gral.csv")
Hapiness_Index = pd.read_csv(r"..\CSV\Hapiness_Index.csv")
Literacy__ = pd.read_csv(r"..\CSV\Literacy__.csv")
median_age = pd.read_csv(r"..\CSV\median_age.csv")
pop_dens = pd.read_csv(r"..\CSV\pop_dens.csv")

In [42]:
merged_df = pd.merge(EPI, df_4square, on='Country', how='left')
merged_df = pd.merge(merged_df, env_policies_gral, on='Country', how='left')
merged_df = pd.merge(merged_df, Hapiness_Index, on='Country', how='left')
merged_df = pd.merge(merged_df, Literacy__, left_on='Country', right_on='Country Name', how='left')
merged_df = pd.merge(merged_df, median_age, on='Country', how='left')
merged_df = pd.merge(merged_df, pop_dens, on='Country', how='left')

In [43]:
merged_df

,Country,Recycling,Lead exposure,Unsafe drinking water,Unsafe sanitation,Wastewater treatment,PM2.5 exposure,Controlled solid waste,Household solid fuels,Ocean Plastics,...,2017,2018,2019,2020,2021,2022,Median Age,Population,Area(km2),Density(pop/km2)
0,South Korea,67.1,88.4,84.6,100.0,76.8,47.2,97.9,100.0,24.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51784059.0,100210.0,531.0
1,Samoa,57.6,67.8,40.4,62.5,0.9,39.0,36.8,14.5,73.6,...,NaN,NaN,NaN,NaN,99.099998,NaN,25.6,225681.0,2842.0,81.0
2,Benin,56.9,36.2,13.6,13.3,9.6,29.3,13.0,9.1,36.0,...,NaN,NaN,NaN,NaN,NaN,47.099998,17.0,13712828.0,112622.0,122.0
3,Iceland,55.5,95.1,100.0,100.0,15.3,100.0,91.9,100.0,56.4,...,NaN,NaN,NaN,NaN,NaN,NaN,37.1,375318.0,103000.0,4.0
4,Vanuatu,52.9,44.9,21.4,21.7,4.5,34.5,20.6,6.1,52.0,...,NaN,NaN,NaN,NaN,89.099998,NaN,23.0,334506.0,12189.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Togo,3.5,43.1,4.9,5.6,0.0,25.1,2.3,10.8,32.9,...,NaN,NaN,66.537079,NaN,NaN,NaN,20.0,9053799.0,56785.0,166.0
176,Brazil,2.8,58.2,45.2,47.7,52.4,50.3,73.1,42.1,5.8,...,93.075821,93.227501,NaN,NaN,NaN,94.690002,33.2,216422446.0,8515767.0,26.0
177,Bhutan,1.7,42.6,31.5,30.8,0.0,21.7,64.3,18.7,NaN,...,66.561150,NaN,NaN,NaN,NaN,72.099998,29.1,787424.0,38394.0,21.0
178,Chile,1.0,96.8,66.8,70.1,71.9,46.4,75.7,59.1,33.5,...,96.402283,NaN,NaN,NaN,NaN,97.160004,35.5,19629590.0,756102.0,26.0
179,Serbia,1.0,50.4,60.5,73.3,0.7,19.0,59.9,38.6,NaN,...,NaN,NaN,99.482529,NaN,NaN,NaN,43.4,7149077.0,88361.0,82.0

In [44]:
merged_df.columns

Index(['Country', 'Recycling', 'Lead exposure', 'Unsafe drinking water',
       'Unsafe sanitation ', 'Wastewater treatment', 'PM2.5 exposure',
       'Controlled solid waste', 'Household solid fuels', 'Ocean Plastics',
       'Latitude', 'Longitude', 'Recycling Facility_count',
       'Plastics Supplier_count', 'Renewable Energy Service_count',
       'Waste Management Service_count', 'Water Treatment Service_count',
       'Fast Food Restaurant_count', 'Vegan and Vegetarian Restaurant_count',
       'Steakhouse_count', 'Used Bookstore_count', 'Organic Grocery_count',
       'Public Transportation_count', 'Value', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia', 'Unnamed: 0',
       'Country Name', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', 'Median Age', 'Population', 'Area(km2)',
       'Density(pop/km2)'],
      dtype='object')

In [45]:
columns_to_drop = ['Country', 'Latitude', 'Longitude', 'Unnamed: 0', 'Country Name', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
merged_df.drop(columns=columns_to_drop, inplace=True)
new_column_name = {'Value': 'Environmental_policies'}
merged_df = merged_df.rename(columns=new_column_name)
merged_df

,Recycling,Lead exposure,Unsafe drinking water,Unsafe sanitation,Wastewater treatment,PM2.5 exposure,Controlled solid waste,Household solid fuels,Ocean Plastics,Recycling Facility_count,...,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,2022,Median Age,Population,Area(km2),Density(pop/km2)
0,67.1,88.4,84.6,100.0,76.8,47.2,97.9,100.0,24.9,0.0,...,73.650185,0.716827,-0.046214,0.701179,1.777825,NaN,NaN,51784059.0,100210.0,531.0
1,57.6,67.8,40.4,62.5,0.9,39.0,36.8,14.5,73.6,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,25.6,225681.0,2842.0,81.0
2,56.9,36.2,13.6,13.3,9.6,29.3,13.0,9.1,36.0,0.0,...,56.095100,0.743357,-0.042523,0.575628,1.777825,47.099998,17.0,13712828.0,112622.0,122.0
3,55.5,95.1,100.0,100.0,15.3,100.0,91.9,100.0,56.4,0.0,...,72.050018,0.936349,0.210987,0.667848,1.777825,NaN,37.1,375318.0,103000.0,4.0
4,52.9,44.9,21.4,21.7,4.5,34.5,20.6,6.1,52.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,334506.0,12189.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,3.5,43.1,4.9,5.6,0.0,25.1,2.3,10.8,32.9,0.0,...,57.448982,0.657430,0.024008,0.739809,1.777825,NaN,20.0,9053799.0,56785.0,166.0
176,2.8,58.2,45.2,47.7,52.4,50.3,73.1,42.1,5.8,0.0,...,65.748711,0.801329,-0.009370,0.737685,1.777825,94.690002,33.2,216422446.0,8515767.0,26.0
177,1.7,42.6,31.5,30.8,0.0,21.7,64.3,18.7,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,72.099998,29.1,787424.0,38394.0,21.0
178,1.0,96.8,66.8,70.1,71.9,46.4,75.7,59.1,33.5,2.0,...,70.299828,0.792262,-0.011029,0.822750,1.777825,97.160004,35.5,19629590.0,756102.0,26.0
179,1.0,50.4,60.5,73.3,0.7,19.0,59.9,38.6,NaN,0.0,...,67.087616,0.845036,0.203995,0.816430,1.777825,NaN,43.4,7149077.0,88361.0,82.0

In [47]:
correlations = merged_df.corr()['Recycling']
sorted_correlation = correlations.sort_values(ascending=False)
sorted_correlation

Recycling                                1.000000
Environmental_policies                   0.534060
Logged GDP per capita                    0.463721
Lead exposure                            0.459286
Unsafe drinking water                    0.458829
Unsafe sanitation                        0.455541
Wastewater treatment                     0.449306
Ladder score                             0.432937
Healthy life expectancy                  0.420951
Waste Management Service_count           0.405439
PM2.5 exposure                           0.399666
Controlled solid waste                   0.381320
Household solid fuels                    0.379324
Median Age                               0.331518
Recycling Facility_count                 0.329267
Social support                           0.316641
Freedom to make life choices             0.285964
Fast Food Restaurant_count               0.271573
Organic Grocery_count                    0.267919
Public Transportation_count              0.228320
Used Bookstore_count                     0.194450
Density(pop/km2)                         0.166391
Steakhouse_count                         0.162246
Vegan and Vegetarian Restaurant_count    0.147525
Ocean Plastics                           0.048479
Population                              -0.005246
Generosity                              -0.008537
2022                                    -0.038299
Area(km2)                               -0.065542
Perceptions of corruption               -0.472187
Plastics Supplier_count                       NaN
Renewable Energy Service_count                NaN
Water Treatment Service_count                 NaN
Ladder score in Dystopia                      NaN
Name: Recycling, dtype: float64

In [ ]:
# There is no a specific variable that is highly correlated to 'Recycling'. 
# For this analysis, I will take into account the first variables that are more directly or indirectly correlated. 
# Those are:
 # - Environmental Policies
 # - Perceptions of corruption
 # - Logged GDP per capita
 # - Lead Exposure
 # - Unsafe Drinking Water